.topPage {

    display: flex;
    align-items: center;
    background-color: rgb(131, 193, 193);
}

.header1 {

    margin-left: 30px;
    padding-top: 5px;
}

.dropDownArrow {

    border: none;
    background-color: rgb(131, 193, 193);
    cursor: pointer;
}

.registerSentence {

    text-decoration: underline;
}

.flex-container {

    display: flex;
    flex-direction: row;
    border: 1px solid rgb(131, 193, 193); 
}

.left-container {

    flex-grow: 0.2;
    
}

.right-container{

    margin-top: 20px;
    flex-grow: 0.3;
    font-weight: bold;
}


.firstName, .lastName, .companyName, .addressName, .cityName, .stateProvinceName, .countryName, .emailName, .phoneNumber{

    margin-top: 20px;
    display: flex;
    font-weight: bold;
}

.firstNameDiv, .lastNameDiv, .companyNameDiv, .addressNameDiv, .cityNameDiv, .stateProvinceDiv, .countryNameDiv, .emailNameDiv, .phoneNumberDiv{

    flex: 0.6;

}
.stateSelection{

    width: 170px;
}

.countrySelection{

    width: 170px;
}

.asterick1 {

    color: red;
    margin-left: 5px;
}

.cashDiv, .chequeDiv, .demandDraftDiv{

    display: flex;
    margin-left: 165px;
}

.ddChequeDiv, .drawnOnBankName, .playableAt{

    margin-top: 20px;
    display: flex;
}

.lunchDiv{

    display: flex;
}

.lunchField{

    flex:0.4;
}

.menuList{

    width: 175px; 
}

.chequeField, .drawnOnBankField, .playableAtField{
    flex: 0.4;
}

.submitButton{

    background-color: rgb(131, 193, 193);
    color:white;
    cursor: pointer;
    margin-top: 550px;
    margin-right: 650px;
    border: none;

}

.resetButton{

    background-color: rgb(131, 193, 193);
    color:white;
    cursor: pointer;
    border: none;
}